.font{
    font-size: 55px;
    color: greenyellow;
    font-weight: bold;
}
.name{
    color:yellow;
}

.test{
    color: red;
    background-color: blueviolet;
}
.button1{
    background-color: red;
    color: white;
    font-weight: bold;
    margin: 20px;
    padding: 25px;
    border-radius: 40px;
    width: 225px;
    border: 2px solid white;

}